attrs==20.3.0
backcall==0.2.0
bleach==3.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.7
decorator==5.0.5
docutils==0.17
idna==2.10
importlib-metadata==3.10.0
iniconfig==1.1.1
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
jeepney==0.6.0
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
keyring==23.0.1
load-confounds==0.6.5
natsort==7.1.1
nibabel==3.2.1
nilearn==0.7.1
-e git+https://github.com/danjgale/nixtract.git@5a82a7c95e109ce2074d7e323676ac6b4ee51613#egg=nixtract
-e git+https://github.com/harveyaa/nixtract-slurm.git@99d76403e7b72c1264dddb1f950ab2cee851eec2#egg=nixtract_slurm
numpy==1.20.2
packaging==20.9
pandas==1.2.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pkginfo==1.7.0
pluggy==0.13.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
py==1.10.0
pycparser==2.20
Pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
pytz==2021.1
pyzmq==22.0.3
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
scikit-learn==0.24.1
scipy==1.6.2
SecretStorage==3.3.1
six==1.15.0
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
twine==3.4.1
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
webencodings==0.5.1
zipp==3.4.1
